@media only screen and (max-width: 768px) {
    #mainarea main{
        width: 100% !important;
    }
}

#mainarea {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#mainarea main {
    width: calc(100% - 164px);
    max-width: 750px;
}

dl {
    display: -ms-flexbox;
    display: flex;
}

dt{
    font-weight: bold;
}